.input {
    width: 80%;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 5px;
    margin-right: 10px;
}

.btnsearch {
    border: 1px solid #ccc;
}
.btnform {
display: flex;
height: 40px;
}